# to install all this requirements
#`pip install -r requirements.txt`
numpy==1.23.5
scipy==1.9.3
chumpy>=0.69
scikit-image>=0.15
opencv-python
scikit-image>=0.15
#skimage
PyYAML
face-alignment
yacs==0.1.8
kornia
ninja
fvcore
matplotlib
# pytorch3d